html,h1{
  text-align:center
}
html, body {
  margin: 0;
  padding:0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size:18px;
  line-spacing:40px;
  margin-top:40px;
}

h1.title{
  margin:60px;
    font-size:55px;
}

h2{
  color:#F0F8FF;
  background:#776e61;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  position: relative;
}


